
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
/*Global*/
:root {
    --orange:#F3711A;
    --blue:#0F75DE;
    --ghost: #cfcfcf;
}
.ews-ncard {
    text-decoration: none;
    display: block;
    color: white;
}
.container {
    width: 100%;
    height: 65px;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}
.UnHead {
    display: grid;
    grid-template-columns: 10% 90%;
    background-color: var(--blue);
    padding: 0 20px;
    
}
.mobile-block__title1 {
    padding-left: 39.5%;
    padding-top: 5px;
}
.back-btn {
    align-items: start; 
    padding-left: 10px;
}
.header {
padding: 15px;
width: 100%;
background: rgb(243, 113, 26);
}
.logo-svg {
    justify-self: start;
}
.logo-title{
    font-size: 30px;
    font-weight: bold;
    justify-self: flex-end;
    margin-top: 10px;
    font-family: "Slackey";
    
}
.center-content {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 10px; 
    text-align: center;
    
}
.btn-category {
    position: absolute; 
    left: 20px; 
    top: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.mobile-block__title {
    padding: 10px 0;
   text-align:center;
   font-size: 15px;
   background-color: var(--blue);
}
.category-row{
display: grid;
   grid-template-columns: 50% 50%;
   justify-content: center;
   gap: 20px;
   padding: 30px 0;
}
.category-card {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    cursor: pointer;
    padding: 30px;
    text-align: center;
    transition: 0,3s ease-in-out;
}
/*TeamP*/
.team-row {
    text-decoration: none;
    display: block;
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.team-card {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--orange);
}
.team__Title {
    display: grid;
    place-items: center;
}
.Team__logo {
    display: grid;
    place-items: center; 
}
.Team__Score {
    display: grid;
    place-items: center;
}
/*AllNewsP*/
.news-card__title{
    font-size: 12px;
   margin-bottom: 6px;
}

 .news-card__date{
    color: var(--orange);
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
 }
 .news-card__category {
    display: block;
   margin-bottom: 6px;
   font-size: 12px;
 }
/*PlayersP*/
.Player-card {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    cursor: pointer;
    padding: 30px;
    text-align: center;
    transition: 0,3s ease-in-out;
}

.mobile-block__container {
    margin-left: 10px;
    margin-right: 10px;
 }

 /*FrancesscoP*/

 .Player-card {
    text-decoration: none;
    color: white;
 }

 .FrancesscoP {
    display: grid;
    place-items: center;
 }
 .Stats {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid rgba(2, 74, 148, 0.7);
    border-radius: 5px;
    background: rgba(2, 74, 148, 0.3);
    
 }
 .Stats1 {
text-align: end;
letter-spacing: 2px;
line-height: 40px;
 }
 .Stats2 {
text-align: start;
letter-spacing: 2px;
line-height: 40px;
 }
 .description {
    padding: 30px;
 }

 /*NewscardP*/
 .News-Photo {
    padding: 20px;
    display: flex;
    justify-content: center;
 }
 /*MonzaP*/
.Team-logo {
    width: 150px;
    border-radius: 10px;
}

 .Monza-Logo {
    padding: 20px;
    text-align: center;
    
 }
 .Monza-Team {
    padding: 20px;
    display: flex;
    justify-content: center; 
   
 }

 /*loading*/
 .loading-card {
    padding: 12px 0;
    border-bottom: 1px solid gray;
 }
.loading-detail {
    padding: 30px 0;
}
.loading-row {
    padding: 30px 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.loading-item {
    border: 1.5px solid grey;
    padding: 30px;
    border-radius: 30px;
}
.skeleton-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: grey;
    animation: ghost 2s infinite linear;
    margin: 0 auto;
}
.skeleton-small-text {
    width: 100px;
    border-radius: 8px;
    height: 20px;
    background-color: grey;
    animation: ghost 2s infinite linear;
    margin-top: 20px;
}
 .skeleton-title, .skeleton-text, .skeleton-big-text, .skeleton-image {
    width: 100%;
    background-color: grey;
    border-radius: 8px;
    animation: ghost 2s infinite linear;
    margin-bottom: 10px;
 }
 .skeleton-title {
    height: 25px;
}
.skeleton-text {
    height: 15px;
}
.skeleton-big-text {
    height: 120px;
}
.skeleton-image {
    height: 220px;
}



@keyframes ghost {
    0% {
        background-color: var(grey);
    }
    50% {
        background-color: var(--ghost);
    }
    100% {
        background-color: var(grey);
    }
}
/*errors*/
.error {
    background-color: red;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.error-title {
    font-size: 16px;
    margin-bottom: 10px;
}
.error-description {
    font-size: 12px;
    margin-bottom: 12px;
}
.white-btn {
    padding: 10px 45px ;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: red;
    text-decoration: none;
}